<div class="container">
    <h1 style="color: black; margin: 50px;">
        
        <strong>dr Jovan Milosevic</strong> is from Uzice, town in western Serbia. 
        Wild West and demanding clients he worked for as a software developer made his brain sharp and hands fast, so he has an ability to write code quicker than anyone on planet Earth.

        <br>
        <br>

        Besides bad grades and absence from Faculty, he still has will and strength to carry on and give his best to graduate in proper time. 

        <br>
        <br>

        <img src="../../../assets/author.jpg" width="400px">
        <br>
        <span>dr Jovan Milosevic in his early days.</span>
    </h1>
</div>