.container {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  
  .no-result {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style:  italic;
  }
  
  .title-center {
    margin: 0 auto;
  }