<div class="container">
    <h3 mat-dialog-title *ngIf="flag==1">Insert new nationality</h3>
    <h3 mat-dialog-title *ngIf="flag==2">Update nationality <strong>{{ dataDialog.name }}</strong></h3>
    <h3 mat-dialog-title *ngIf="flag==3">Delete nationality <strong>{{ dataDialog.name }}</strong></h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="dataDialog.name" name="name" [disabled]="flag==3"
                    required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Abbreviation" [(ngModel)]="dataDialog.abbreviation" name="Abbreviation" [disabled]="flag==3"
                    required>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>

            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="addNationality()"
                [disabled]="!formControl.valid">Save</button>

            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="updateNationality()"
                [disabled]="!formControl.valid">Save</button>

            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="deleteNationality()">Delete</button>

            <button mat-button (click)="cancel()">Cancel</button>

        </div>
    </form>
</div>